* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #e3e1e1;
    color: rgba(0, 0, 0, 0.302);
   
}

section {
    padding-top: 65px;
    
}
img {
    
    width: 100%;
}

#templates {
    background-color: #e4e2e2;
}

.scroll {
    object-position: top;
    transition: 10s;
}
.scroll:hover {
    object-position: bottom;
    
}

.active {
    background-color: #008CCB !important;
    color: white !important;
}